body {
  padding-top: 70px;
  padding-bottom: 30px;
}

select {
  display: block;
  margin-bottom: 20px;
}

span {
  cursor: pointer;
}

.btn {
  display: block;
  margin-bottom: 20px;
}

.person1 {
  margin-left: 5px;
}

.form-group {
  margin-top: 20px;
}

#reveal-name {
  display: none;
}

#reveal-destination {
  display: none;
}
