body {
  padding-top: 70px;
  padding-bottom: 30px;
}

img {
  display: none;
}

select {
  display: block;
  margin-bottom: 20px;
}

span {
  cursor: pointer;
  color: #0088cc;
}

.btn {
  display: block;
  margin-bottom: 20px;
}

.person1 {
  margin-left: 5px;
}

.form-group {
  margin-top: 20px;
}

#reveal-name {
  display: none;
  margin-top: 15px;
  margin-bottom: 15px;
}

#reveal-destination {
  display: none;
}

#london-hidden {
  display: none;
}
